body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#color_area {
    color: white;
    height: 500px;
    width: 500px;
    border: 2px solid black;
    border-radius: 15%;
}
